* {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background-color: black;
	display: flex;
	flex-wrap: wrap-reverse;
}

h1{
	color: wheat;
}

p{
	width: 70%;
	font-size: 25px;
	color: wheat;
	margin-left: 50px;
}

.image{
	width: 50vw;
}